/*** 

====================================================================
	AI Product
====================================================================

***/

.ai-product {
    position: relative;
    display: block;
    padding: 100px 0 100px;
}

.ai-product__top-title {
    font-size: 40px;
    color: var(--thm-white);
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    margin-bottom: 63px;
}

.ai-product .row {
    --bs-gutter-x: 70px;
}

.ai-product__single {
    position: relative;
    display: block;
    margin-bottom: 22px;
}

.ai-product__icon {
    position: relative;
    display: block;
}

.ai-product__icon img {
    width: auto;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.ai-product__single:hover .ai-product__icon img {
    transform: scale(.9);
}

.ai-product__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 26px;
    margin-bottom: 23px;
}

.ai-product__title a {
    color: var(--thm-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.ai-product__title a:hover {
    color: var(--thm-base);
}








/* End */