/*** 

====================================================================
	Reset Password
====================================================================

***/
.reset-password-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reset-password-page__shape-1 {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.reset-password-page__shape-2 {
    position: absolute;
    top: 275px;
    left: 300px;
    width: 1363.998px;
    height: 316.414px;
    transform: rotate(6.965deg);
    background: linear-gradient(250deg, #00C2FF 14.67%, #5D5298 38.22%, #FF1B6D 60.95%, #9D90D8 82.95%);
    filter: blur(182px);
    z-index: -1;
}

.reset-password-page .container {
    max-width: 720px;
}

.reset-password-page__inner {
    position: relative;
    display: block;
    background-color: var(--thm-white);
    border-radius: 24px;
    padding: 115px 95px 200px;
    backdrop-filter: blur(2px);
}

.reset-password-page__close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
}

.reset-password-page__close-icon a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C3D1E3;
    border-radius: var(--thm-border-radius);
    height: 48px;
    width: 48px;
    color: var(--thm-gray);
}

.reset-password-page__close-icon a:hover {
    background-color: var(--thm-base);
    color: var(--thm-white);
    border: 1px solid var(--thm-base);
}

.reset-password-page__top {
    position: relative;
    display: block;
    margin-bottom: 110px;
}

.reset-password-page__logo {
    position: relative;
    display: block;
    text-align: center;
}

.reset-password-option {
    position: relative;
    display: block;
    margin-bottom: 22px;
}

.reset-password-option a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--thm-gray-bg);
}

.reset-password-option a span {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}





/* End */