<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Nawasena - Tentang</title>

	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	
	<!-- Color Themes -->
	<link id="theme-color-file" href="static/css/color-themes/blue-color.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!-- Stylesheets -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/responsive.css" rel="stylesheet">

</head>

<body class="body-bg-color xbox-layout">

	<div class="page-wrapper">

		{% include 'header.html' %}

    <!-- Career Page Top Start -->
		<section class="career-page-top">
			<div class="container">
				<div class="career-page-top__inner">
					<div class="career-page-top__single">
						
						<div class="career-page-top__content-box">
							
							<div class="career-page-top__content-box-two">
								<div class="col-md-12">
                  <h1>TENTANG</h1>
                  
                  <section id="tentang">
                      <h2>Tentang Aplikasi</h2>
                      <p>Selamat datang di halaman Aplikasi Absensi Nawasena! <br>
                          Aplikasi ini merupakan bagian dari proyek akhir studi independen di Orbit Future Academy yang bertujuan untuk memberikan solusi inovatif dalam manajemen absensi.</p>
                  </section>
                  
                  <section id="fitur">
                      <h2>Fitur Utama</h2>
                      <ul>
                          <li><strong>Face Recognition:</strong> Dengan teknologi canggih pengenalan wajah, proses absensi menjadi lebih cepat dan akurat.</li>
                          <li><strong>Antarmuka Pengguna Intuitif:</strong> Antarmuka pengguna yang dirancang dengan baik membuat penggunaan aplikasi menjadi mudah dan menyenangkan.</li>
                          <li><strong>Riwayat Kehadiran:</strong> Aplikasi menyimpan riwayat kehadiran setiap individu, memudahkan untuk melacak dan menganalisis pola kehadiran.</li>
                          <li><strong>Keamanan Data:</strong> Kami mengutamakan keamanan data pengguna dengan sistem keamanan tingkat tinggi.</li>
                      </ul>
                  </section>
              
  
                  <section id="penggunaan">
                      <h2>Cara Menggunakan Aplikasi</h2>
                      <ol>
                          
                          <li><strong>Absensi:</strong>
                              <ul>
                                  <li>Buka aplikasi dan pilih opsi "Check-in/Check-out".</li>
                                  <li>Tunjukkan wajah Anda ke kamera untuk melakukan absensi.</li>
                              </ul>
                          </li>
                          <li><strong>Pantau Kehadiran:</strong>
                              <ul>
                                  <li>Cek riwayat kehadiran Anda dan rekan kerja melalui menu "Riwayat Kehadiran".</li>
                              </ul>
                          </li>
                      </ol>
                  </section>
  
                  <section id="hubungi">
                      <h2>Hubungi Kami</h2>
                      <p>Jika Anda memiliki pertanyaan atau masukan, jangan ragu untuk menghubungi tim pengembang Nawasena kami. Kami berkomitmen untuk terus meningkatkan kualitas layanan kami.</p>
                  </section>
  
              </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- Career Page End Start -->


		{% include 'footer_new.html' %}



	</div>
	<!-- End PageWrapper -->

	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-arrow-up fa-fw"></span></div>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/01-bootstrap.min.js"></script>
  <script src="static/js/02-bootstrap-select.min.js"></script>
  <script src="static/js/07-wow.js"></script>
  <script src="static/js/12-gsap.min.js"></script>
  
  <script src="static/js/script.js"></script>
	<style>
    .career-page-top__content-box-two ul
    {
        list-style: initial;
        margin: initial;
        padding: 0 0 0 40px;
    }

    .career-page-top__content-box-two li
    {
        display: list-item;
    }
  </style>


	<!--[if lt IE 9]><script src="static/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="static/js/respond.js"></script><![endif]-->

</body>

</html>