<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Nawasena - FAQ</title>

	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	
	<!-- Color Themes -->
	<link id="theme-color-file" href="static/css/color-themes/blue-color.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!-- Stylesheets -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/responsive.css" rel="stylesheet">

</head>

<body class="body-bg-color xbox-layout">

	<div class="page-wrapper">

		{% include 'header.html' %}

    <!-- Career Page Top Start -->
		<section class="career-page-top">
			<div class="container">
				<div class="career-page-top__inner">
					<div class="career-page-top__single">
						
						<div class="career-page-top__content-box">
							
							<div class="career-page-top__content-box-two">
								<div class="col-md-12">
                  <h1>INFORMASI</h1>
                  <div class="col-md-12">
                    <section id="tentang-aplikasi">
                        <h2>Tentang Aplikasi</h2>
                        <p>Selamat datang di halaman Aplikasi Absensi Face Recognition Nawasena di Orbit Future Academy! 
                          <br> Aplikasi ini merupakan bagian dari proyek akhir studi independen yang bertujuan untuk memberikan solusi inovatif dalam manajemen absensi.</p>
                    </section>

                    <section id="informasi-tim">
                      
                      <h2>Orbit Future Academy</h2>
                      <p>Orbit Kampus - Artificial Intelligence 4 Jobs

                        AI 4 JOBS berpusat pada kompetensi untuk membangun AI Readiness dengan meningkatkan keterampilan individu dalam bidang AI yang dibutuhkan sebagai persiapan untuk memasuki dunia pekerjaan masa depan. Program ini juga memiliki cakupan dalam pengembangan mindset dan skillset untuk mencapai keberhasilan dalam perkembangan teknologi dunia yang sangat dinamis menuju pemutakhiran dan kebergantungan di bidang AI.</p>
                    </section>
      
                    <section id="informasi-tim">
                      
                      <h2>Nawasena Team</h2>
                      <p>Nawasena Team adalah kelompok mahasiswa yang berkomitmen untuk menciptakan solusi cerdas dalam manajemen absensi. Dengan pengetahuan dan keahlian yang beragam, kami bersatu untuk menghasilkan aplikasi inovatif ini.</p>
                      <p>Salah satu teknologi kunci yang kami terapkan dalam sistem pengenalan wajah kami adalah <strong>K-Nearest Neighbors (KNN) Classifier</strong>. KNN memungkinkan kami untuk mengklasifikasikan wajah dengan akurasi tinggi, memastikan kehandalan proses absensi secara real-time.</p>
                      <!-- Anda dapat menambahkan informasi tambahan tentang anggota tim dan teknologi lainnya di sini -->
                    </section>
                  </div>
            
                </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- Career Page End Start -->


		{% include 'footer_new.html' %}



	</div>
	<!-- End PageWrapper -->

	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-arrow-up fa-fw"></span></div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/01-bootstrap.min.js"></script>
	<script src="static/js/02-bootstrap-select.min.js"></script>
	<script src="static/js/07-wow.js"></script>
	<script src="static/js/12-gsap.min.js"></script>
	
	<script src="static/js/script.js"></script>

	<style>
    .career-page-top__content-box-two ul
    {
        list-style: initial;
        margin: initial;
        padding: 0 0 0 40px;
    }

    .career-page-top__content-box-two li
    {
        display: list-item;
    }
  </style>


	<!--[if lt IE 9]><script src="static/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="static/js/respond.js"></script><![endif]-->

</body>

</html>